header{
    color: #fff;
    text-align: center;
    padding: 17rem;
    font-size: 1.5rem;
    font-weight: 200;
}

#home-link {
    cursor: pointer;
}

main {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

main .content h2 {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
}

main .content p {
    color: #ccc;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.text{
    font-size: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    box-sizing: border-box;
    padding: 9px 16px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 100%;
    color: #fff;
}



.button {
    color: #111;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: #bbd0ef;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #0c5acf;
    color: #fff;
}


main .image {
    position: relative;
    margin: auto;
    margin-left: 20rem;
} 

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #0c5acf;
    z-index: -100;
}

main .content span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

@media screen and (max-width: 768px) {
    header {
        padding: 10rem;
        font-size: 1rem;
    }

    main {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    main .image {
        margin-left: 0;
        margin: auto;
    }
}