@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.logo {
    width: 20%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Nunito';
    background-color: #202124;
}

nav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: 0.6s;
}

nav.sticky {
    position: fixed;
    top: 0;
    background: #303134;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px 100px;
    z-index: 100;
    transition: top 0.6s ease;
}

nav .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 0 10px;
    border-radius: 20px;
    transition: 0.6s;
}

nav .menu a:hover {
    color: #000;
    background-color: #fff;
}

nav .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1200px) {
    nav .btn {
        display: block;
    }

    nav .menu {
        position: fixed;
        background-color: #192537;
        flex-direction: column;
        min-width: 400px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;
    }

    nav .menu.active {
        right: 0;
        z-index: 100;
    }

    nav .menu .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
        z-index: 100;
    }

    nav .menu a {
        display: block;
        font-size: 16px;
        margin: 20px;
        padding: 0 15px;
    }
}
