<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/description.css') }}">
    <title>Help</title>
</head>
<body>
    <nav>
        <a href="home.html"><img class="logo" src="{{ url_for('static', filename='png/logo.png') }}" alt="logo"></a>
        <div class="menu">
            <div class="btn">
                <i class="fas fa-times close-btn"></i>
            </div>
            <a id="Home" href="home.html">Home</a>
            <a id="Features" href="features.html">Features</a>
            <a id="About" href="about.html">About Us</a>
            <a id="Support" href="description.html">Help</a>
        </div>
        <div class="btn">
            <i class="fas fa-bars menu-btn"></i>
        </div>
    </nav>
    
    <header id="link">
        <h1>Broken Link Checker</h1>
        <h3 id="home-link">-Help-</h3>
    </header>

    <main>
        <p>
            Un linkchecker poate verifica:<br>
        </p>
        <ul>
        <li> valida referințele interne (linkurile către paginile din portalul tău)</li>
        <li>verifica dacă linkurile externe sunt valabile și utilizează HTTPS</li>
        <li>verificați dacă linkurile imaginilor sunt corecte și avertizați cu privire la imaginile lipsă</li>
        <li>ignora anumite linkuri și sare peste întregi directoare în timpul verificării</li>
        <li>sare peste linkurile canonice broken</li>
        <li>verificați favicoanele(website icon), etichetele meta refresh și altele</li>
 </ul>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer_nav">
                <ul>
                    <li><a id="Home" href="home.html">Home</a></li>
                    <li><a id="Features" href="features.html">Features</a></li>
                    <li><a id="About" href="about.html">About Us</a></li>
                    <li><a id="Support" href="description.html">Help</a></li>
                </ul>
            </div>
    
            <div class="footer_info">
                <p>&copy; All Rights Reserved</p>
                <p>Privacy Policy | Terms of Service</p>
            </div>
        </div>
    </footer>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>